.home-page {
  .about {
    margin: 5.625rem 3.75vw;
    h2 {
      text-transform: uppercase;
      font-size: clamp(90px, 25vw, 175px);
      font-weight: 500;
      line-height: 100%;
    }
    .about-me-btn {
      text-align: center;
      font-size: 0.75rem;
      transition: all 0.4s;
      cursor: pointer;
      border: 1px solid $light-grey;
      border-radius: 10rem;
      width: 6.25rem;
      padding: 0.5rem 0;
      a {
        color: $light-grey;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.4s;
        &:after {
          content: "\203A";
          position: absolute;
          opacity: 0;
          top: 0;
          right: -20px;
          transition: 0.5s;
          line-height: 0.6;
          font-size: 1.5rem;
        }
      }
      &:hover a,
      &:focus a {
        padding-right: 20px;
      }
      &:hover a:after,
      &:focus a:after {
        opacity: 1;
        right: 0;
      }
    }
    #flip {
      height: 30px;
      // height: 7vw;
      overflow: hidden;
      line-height: 100%;
      margin: 2.5rem 0 2rem 0;
      p {
        color: $light-grey;
        // font-size: 7vw;
        font-weight: 400;
        text-transform: capitalize;
        font-family: $font-large-text;
      }
      & > div > p {
        padding: 4px;
        // padding: 1vw 4vw;
        font-size: clamp(1rem, 7vw, 1.8rem);

        height: 45px;
        margin-bottom: 45px;
        // height: 3.5vw;
        // margin-bottom: 3.5vw;
        display: inline-block;
      }

      & div:first-child {
        animation: slide-up 15s ease-in-out infinite;
      }

      @keyframes slide-up {
        0% {
          margin-top: 22.5px;
        }
        1.25% {
          margin-top: 0px;
        }
        20% {
          margin-top: 0px;
        }
        25% {
          margin-top: -90px;
        }
        45% {
          margin-top: -90px;
        }
        50% {
          margin-top: -180px;
        }
        70% {
          margin-top: -180px;
        }
        75% {
          margin-top: -270px;
        }
        95% {
          margin-top: -270px;
        }
        99.99% {
          margin-top: -360px;
        }
        100% {
          margin-top: 0px;
        }
      }
    }
  }
  .projects-preview {
    .show-more-less-btn {
      display: block;
      width: 5rem;
      margin: 0 auto;
      padding: 0.25rem 0.5rem;
      border: 1px solid $light-grey;
      border-radius: 10rem;
      color: $light-grey;
      background-color: transparent;
      font-size: 0.75rem;
      text-align: center;
      line-height: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.25s ease;
      &:hover {
        color: $dark-grey;
        border: 1px solid $dark-grey;
      }
    }
  }
}
