.home-page {
  .about {
    margin: 5.625rem 03.5vw;
    h2 {
      text-transform: uppercase;
      // font-size: 25vw;
      font-size: clamp(40px, 25vw, 280px);
      font-weight: 500;
      line-height: 100%;
    }
    a {
      color: $lightest-grey;
      border: 1.5px solid $lightest-grey;
      padding: 0.75rem 1rem;
      text-transform: uppercase;
      border-radius: 5.25rem;
    }
    #flip {
      height: 30px;
      // height: 7vw;
      overflow: hidden;
      line-height: 100%;
      margin: 1.5rem 0 2rem 0;
      p {
        color: $light-grey;
        // font-size: 7vw;
        font-weight: 400;
        text-transform: capitalize;
        font-family: $font-large-text;
      }
      & > div > p {
        padding: 4px;
        // padding: 1vw 4vw;
        font-size: 7vw;

        height: 45px;
        margin-bottom: 45px;
        // height: 3.5vw;
        // margin-bottom: 3.5vw;
        display: inline-block;
        z-index: 99;
      }

      & div:first-child {
        animation: slide-up 12s ease-in-out infinite;
      }

      // @keyframes slide-up {
      //   0% {
      //     margin-top: calc(7vw / 18);
      //   }
      //   1% {
      //     margin-top: 0px;
      //   }
      //   20% {
      //     margin-top: 0px;
      //   }
      //   25% {
      //     margin-top: -7vw;
      //   }
      //   45% {
      //     margin-top: -7vw;
      //   }
      //   50% {
      //     margin-top: -14vw;
      //   }
      //   70% {
      //     margin-top: -14vw;
      //   }
      //   75% {
      //     margin-top: -21vw;
      //   }
      //   95% {
      //     margin-top: -21vw;
      //   }
      //   99.99% {
      //     margin-top: -28vw;
      //   }
      //   100% {
      //     margin-top: 0px;
      //   }
      // }

      @keyframes slide-up {
        0% {
          margin-top: 5px;
        }
        1% {
          margin-top: 0px;
        }
        20% {
          margin-top: 0px;
        }
        25% {
          margin-top: -90px;
        }
        45% {
          margin-top: -90px;
        }
        50% {
          margin-top: -180px;
        }
        70% {
          margin-top: -180px;
        }
        75% {
          margin-top: -270px;
        }
        95% {
          margin-top: -270px;
        }
        99.99% {
          margin-top: -360px;
        }
        100% {
          margin-top: 0px;
        }
      }
    }
  }
}
