.single-project-page-section {
  margin: 6rem 3.75vw;
  h2 {
    font-size: 4rem;
    // font-family: $font-reading-text;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  h4 {
    margin: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: 700;
  }
  p {
    color: $medium-grey;
  }
  article {
    margin: 2rem 0;
  }
  .detail-page-images-wrapper {
    margin-top: 2rem;
    overflow: hidden;
    aspect-ratio: 1.7;
    img {
      width: 100%;
      object-fit: fill;
    }
  }

  .project-specs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h3 {
      grid-area: 1/1/2/3;
    }
    .project-specs-fields {
      &:nth-child(5) {
        grid-area: 3/2/5/3;
      }
      a {
        font-family: $font-reading-text;
        color: $black;
      }
      .link-list {
        display: flex;
        column-gap: 1.5rem;
        li {
          a {
            svg {
              transition: fill 0.15s ease-out;
              &:hover,
              &:focus {
                fill: $lightest-grey;
              }
            }
          }
        }
      }
    }
  }
  .project-features {
    .feature-fields {
      margin: 1rem 0 3rem 0;

      .feature-image {
        margin: 0.75rem 0;
      }
    }
  }
  .project-designs {
    .design-fields {
      margin: 1rem 0;
      .design-image {
        margin: 0.75rem 0;
      }
    }
  }
}
