// Colors
$dark-grey: #282828;
$medium-grey: #323232;
$light-grey: #696969;
$lightest-grey: #a8a4a4;
$white: #ffffff;
$black: #000000;

// fonts

$font-large-text: "Oswald", sans-serif;
$font-small-text: "Inconsolata", monospace;
$font-reading-text: "Assistant", sans-serif;
