.contact {
  margin: 5rem 1.35rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: flex-start;
  align-items: center;
  max-width: 30rem;
  ul {
    li {
      font-family: $font-large-text;
      font-size: clamp(0.75rem, 6vw, 2.75rem);
      margin-bottom: 0.5rem;
      text-transform: uppercase;
      &:nth-child(2) {
        margin-left: 0.75rem;
      }
      &:nth-last-child(2) {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
      }
      &:last-child {
        margin-left: 2.75rem;
        margin-bottom: 0;
        display: flex;
        column-gap: 1.5rem;
      }
    }
  }
  button {
    width: 90%;
    font-size: 3.5vw;
    aspect-ratio: 1/1;
    border-radius: 100%;
    color: $white;
    background-color: $black;
    border: none;
    text-transform: uppercase;
    justify-self: flex-end;
    transition: all 0.05s linear;
    &:hover {
      background-color: transparent;
      color: $light-grey;
      border: 1px double $light-grey;
      transition: all 0.05s linear 0.15s;
      font-size: 2.85vw;
      font-weight: 600;
    }
  }
}
