footer {
  margin: 0.5rem auto;
  p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.85rem;
    font-family: $font-small-text;
    span:first-child {
      font-size: 1.1rem;
    }
    // span:last-child {
    //   font-size: 0.9rem;
    // }
  }
}
