header {
  .logo-link {
    display: inline-block;
    position: absolute;
    left: 1rem;
    top: 1.75rem;
    width: 2.25rem;
    height: 2.25rem;
    svg {
      width: 100%;
      transition: transform 0.35s ease-in-out;
    }
    @media (min-width: $medium-viewport-breakpoint) {
      &:hover svg {
        transform: rotate(0.25turn);
      }
    }
  }
}
