.loading-animation-wrapper {
  background-color: $black;
  position: fixed;
  inset: 0;
  z-index: 100;
  .loading-animation {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.close {
    animation: closing 0.5s ease-in-out forwards;
    @keyframes closing {
      from {
        height: 100%;
      }
      to {
        height: 0;
      }
    }
  }
}
