.loading-animation-wrapper {
  background-color: $black;
  position: absolute;
  inset: 0;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1000;
  .loading-animation {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
