.project-card {
  margin-bottom: 6rem;
  &:nth-last-child(2) {
    margin-bottom: 3.5rem;
  }
  .project-image {
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 1.7;
    img {
      width: 100%;
      object-fit: fill;
      transition: transform 0.5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.05);
      transition: transform 2.25s ease-out;
    }
  }
  .project-content {
    padding: 0.35rem 1.35rem;
    h3 {
      font-size: 1.65rem;
      font-weight: 700;
      color: $dark-grey;
      font-family: $font-reading-text;
    }
    .project-tools {
      display: flex;
      flex-wrap: wrap;
      p {
        font-size: 0.75rem;
        font-weight: 500;
        color: $lightest-grey;
        font-family: $font-reading-text;
        span {
          margin: 0 0.25rem;
        }
      }
    }
    .project-description {
      font-size: 0.9rem;
      color: $medium-grey;
      margin-top: 0.5rem;
    }
    .project-links {
      display: flex;
      justify-content: space-between;
      column-gap: 5rem;
      margin-top: 1rem;
      li {
        a {
          font-size: 1rem;
          font-weight: 500;
          color: $lightest-grey;
          display: inline-block;
          position: relative;
          transition: color 0.35s ease 0.2s;
          font-family: $font-reading-text;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-in-out;
          }
          &:hover:after,
          &:focus:after {
            transform: scaleX(1);
            transform-origin: bottom left;
            transition: transform 0.75s ease;
          }
          &:hover,
          &:focus {
            color: $black;
            transition: color 1s ease;
          }
        }
      }
    }
  }
}
