.project-cards {
  margin-bottom: 2.5rem;
  .project-image {
    cursor: pointer;
    overflow: hidden;
    aspect-ratio: 1.7;
    img {
      width: 100%;
      object-fit: fill;
      transition: transform 0.5s ease-in-out;
    }
    &:hover img {
      transform: scale(1.05);
      transition: transform 2.25s ease-out;
    }
  }
  .project-content {
    padding: 0.75rem 1.35rem;
    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $dark-grey;
    }
    .project-tools {
      display: flex;
      flex-wrap: wrap;
      margin: 0.3rem 0;
      p {
        font-size: 0.85rem;
        font-weight: 500;
        color: $medium-grey;
        font-family: $font-small-text;
        span {
          margin: 0 0.25rem;
        }
      }
    }
    .project-description {
      font-size: 1.025rem;
      color: $medium-grey;
    }
    .project-links {
      display: flex;
      column-gap: 2rem;
      margin-top: 1rem;
      li {
        a {
          font-size: 0.9rem;
          color: $light-grey;
          display: inline-block;
          position: relative;
          transition: color 0.35s ease 0.2s;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $black;
            transform-origin: bottom right;
            transition: transform 0.25s ease-in-out;
          }
          &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
            transition: transform 0.75s ease;
          }
          &:hover {
            color: $black;
            transition: color 1s ease;
          }
        }
      }
    }
  }
}
