// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=Inconsolata:wght@300;400;500;600;700;800;900&family=Oswald:wght@300;400;500;600&display=swap");

// fonts
$font-large-text: "Oswald", sans-serif;
$font-small-text: "Inconsolata", monospace;
$font-reading-text: "Assistant", sans-serif;
